[Unit]
Description=Read serial port in raspi
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/sudo /usr/bin/node /home/pi/broiler/otomatis/otomatis.js

[Install]
WantedBy=multi-user.terget
